In [47]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [48]:
df = pd.read_csv('cpsmar2017.csv')
df['constant'] = 1
print(df.shape)
df.head()

(7285, 31)

,log_wage,a_age,cat_edu2,cat_edu3,cat_edu4,cat_edu5,cat_edu6,cat_edu7,cat_edu8,cat_edu9,...,cat_industry6,cat_industry7,cat_industry8,cat_industry9,cat_industry10,cat_industry11,cat_industry12,cat_industry13,female,constant
0,2.564949,34,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
1,2.541602,31,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
2,2.562639,72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,2.197225,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2.302585,58,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [94]:
outcome = df['log_wage']
predictors = df[df.columns[1:]].astype(float)

results = sm.OLS(outcome, predictors).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               log_wage   R-squared:                       0.308
Model:                            OLS   Adj. R-squared:                  0.305
Method:                 Least Squares   F-statistic:                     111.3
Date:                Tue, 01 May 2018   Prob (F-statistic):               0.00
Time:                        02:11:52   Log-Likelihood:                -3858.7
No. Observations:                7285   AIC:                             7777.
Df Residuals:                    7255   BIC:                             7984.
Df Model:                          29
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
a_age              0.0065      0.000     18.719      0.000       0.006       0.007
cat_edu2           0.1361      0.118      1.152      0.250      -0.096       0.368
cat_edu3           0.0332      0.106      0.312      0.755      -0.175       0.242
cat_edu4           0.1377      0.108      1.278      0.201      -0.074       0.349
cat_edu5           0.1019      0.106      0.963      0.336      -0.106       0.309
cat_edu6           0.1535      0.103      1.496      0.135      -0.048       0.355
cat_edu7           0.1320      0.101      1.306      0.192      -0.066       0.330
cat_edu8           0.1725      0.104      1.662      0.096      -0.031       0.376
cat_edu9           0.2707      0.098      2.772      0.006       0.079       0.462
cat_edu10          0.2913      0.098      2.975      0.003       0.099       0.483
cat_edu11          0.4277      0.100      4.297      0.000       0.233       0.623
cat_edu12          0.4028      0.099      4.065      0.000       0.209       0.597
cat_edu13          0.5635      0.098      5.737      0.000       0.371       0.756
cat_edu14          0.7149      0.100      7.116      0.000       0.518       0.912
cat_edu15          0.8523      0.121      7.037      0.000       0.615       1.090
cat_edu16          0.8076      0.118      6.829      0.000       0.576       1.039
cat_industry2      0.4954      0.076      6.490      0.000       0.346       0.645
cat_industry3      0.3304      0.050      6.548      0.000       0.231       0.429
cat_industry4      0.2466      0.049      5.010      0.000       0.150       0.343
cat_industry5      0.0217      0.049      0.445      0.656      -0.074       0.117
cat_industry6      0.3028      0.051      5.894      0.000       0.202       0.404
cat_industry7      0.2365      0.060      3.916      0.000       0.118       0.355
cat_industry8      0.2079      0.052      3.971      0.000       0.105       0.311
cat_industry9      0.2010      0.050      4.000      0.000       0.102       0.299
cat_industry10     0.1807      0.048      3.728      0.000       0.086       0.276
cat_industry11    -0.1564      0.049     -3.193      0.001      -0.252      -0.060
cat_industry12     0.0524      0.053      0.991      0.322      -0.051       0.156
cat_industry13     0.3084      0.052      5.922      0.000       0.206       0.411
female            -0.1374      0.011    -12.925      0.000      -0.158      -0.117
constant           2.0586      0.109     18.899      0.000       1.845       2.272
==============================================================================
Omnibus:                      222.562   Durbin-Watson:                   1.811
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              595.174
Skew:                           0.010   Prob(JB):                    5.75e-130
Kurtosis:                       4.400   Cond. No.                     3.45e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.45e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [61]:
male = df[df['female']==0].reset_index(drop=True).drop('female', axis=1)
female = df[df['female']==1].reset_index(drop=True).drop('female', axis=1)

Xm = male.ix[:, 1:]
Xf = female.ix[:, 1:]
Ym = male['log_wage']
Yf = female['log_wage']

In [69]:
female_model = sm.OLS(Yf, Xf).fit()
male_model = sm.OLS(Ym, Xm).fit()

In [71]:
female_model.params

a_age             0.005350
cat_edu2         -0.007384
cat_edu3          0.073658
cat_edu4          0.244086
cat_edu5          0.099737
cat_edu6          0.140865
cat_edu7          0.137983
cat_edu8          0.145013
cat_edu9          0.265506
cat_edu10         0.286399
cat_edu11         0.454292
cat_edu12         0.412095
cat_edu13         0.590704
cat_edu14         0.700808
cat_edu15         0.825737
cat_edu16         0.990182
cat_industry2     0.606748
cat_industry3     0.133246
cat_industry4     0.137882
cat_industry5    -0.020199
cat_industry6     0.236523
cat_industry7     0.167427
cat_industry8     0.194698
cat_industry9     0.155906
cat_industry10    0.148484
cat_industry11   -0.162102
cat_industry12   -0.066036
cat_industry13    0.234563
constant          2.004633
dtype: float64

In [65]:
group1 = np.mean(Ym)
group1

2.800170196072856

In [66]:
group2 = np.mean(Yf)
group2

2.669119609758697

In [67]:
difference = np.mean(Ym) - np.mean(Yf)
difference

0.1310505863141591

In [80]:
endowments = np.transpose(np.array(np.mean(Xm) - np.mean(Xf))) @ np.array(female_model.params)
endowments

-0.033999689572430297

In [81]:
coefficients = np.transpose(np.array(np.mean(Xf))) @ np.array(male_model.params - female_model.params)
coefficients

0.11942266640299942

In [82]:
interaction = np.transpose(np.array(np.mean(Xm) - np.mean(Xf))) @ np.array(male_model.params - female_model.params)
interaction

0.045627609483592985

In [89]:
# endowments
(np.mean(Xm) - np.mean(Xf)) * female_model.params

a_age            -0.005403
cat_edu2         -0.000023
cat_edu3          0.000429
cat_edu4          0.001999
cat_edu5          0.000724
cat_edu6         -0.000054
cat_edu7          0.001103
cat_edu8          0.000821
cat_edu9          0.020353
cat_edu10        -0.004411
cat_edu11         0.001427
cat_edu12        -0.008978
cat_edu13        -0.033895
cat_edu14        -0.014913
cat_edu15        -0.001779
cat_edu16        -0.001268
cat_industry2     0.007115
cat_industry3     0.014562
cat_industry4     0.013966
cat_industry5    -0.000026
cat_industry6     0.012876
cat_industry7     0.000884
cat_industry8    -0.006157
cat_industry9    -0.000185
cat_industry10   -0.038811
cat_industry11    0.002619
cat_industry12   -0.000094
cat_industry13    0.003122
constant          0.000000
dtype: float64

In [90]:
# coefficients
np.mean(Xf) * (male_model.params - female_model.params)

a_age             0.097282
cat_edu2          0.000883
cat_edu3         -0.000708
cat_edu4         -0.001114
cat_edu5         -0.000164
cat_edu6          0.000400
cat_edu7         -0.000422
cat_edu8          0.000571
cat_edu9          0.001161
cat_edu10         0.001690
cat_edu11        -0.003841
cat_edu12        -0.001968
cat_edu13        -0.012988
cat_edu14         0.002445
cat_edu15         0.000563
cat_edu16        -0.002326
cat_industry2    -0.000077
cat_industry3     0.003738
cat_industry4     0.008994
cat_industry5     0.009832
cat_industry6     0.002621
cat_industry7     0.001526
cat_industry8    -0.001462
cat_industry9     0.005205
cat_industry10    0.005512
cat_industry11   -0.001794
cat_industry12    0.008642
cat_industry13    0.005300
constant         -0.010077
dtype: float64

In [92]:
# interactions
(np.mean(Xm) - np.mean(Xf)) * (male_model.params - female_model.params)

a_age            -0.002432
cat_edu2          0.000741
cat_edu3         -0.000432
cat_edu4         -0.001323
cat_edu5         -0.000121
cat_edu6         -0.000007
cat_edu7         -0.000122
cat_edu8          0.000214
cat_edu9          0.000303
cat_edu10        -0.000114
cat_edu11        -0.000221
cat_edu12         0.000539
cat_edu13         0.004044
cat_edu14        -0.001011
cat_edu15        -0.000218
cat_edu16         0.000511
cat_industry2    -0.001131
cat_industry3     0.026109
cat_industry4     0.015687
cat_industry5     0.000081
cat_industry6     0.005028
cat_industry7     0.000584
cat_industry8     0.000748
cat_industry9    -0.000080
cat_industry10   -0.003960
cat_industry11    0.000211
cat_industry12    0.000317
cat_industry13    0.001683
constant         -0.000000
dtype: float64

In [115]:
from statsmodels.iolib.table import SimpleTable

In [114]:
mydata = [[11,12],[21,22]]  # data MUST be 2-dimensional
myheaders = [ "Column 1", "Column 2" ]
mystubs = [ "Row 1", "Row 2" ]
tbl = SimpleTable(mydata, myheaders, mystubs, title="Title")
tbl